<footer class="footer">
  <div class="footer_">
    <div class="row_">
      <div class="footer-col">
        <h4>More</h4>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Media</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Information</h4>
        <ul>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Copyright</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>
    </div>
    <p class="copyRight">
      &copy; <span id="year">2025</span> Facitilate. All rights reserved.
    </p>
  </div>
</footer>
