
  <% layout("/layouts/boilerplate") %>
  <body>
    <div class="main">
      <!-- introduction -->
      <section class="intro" style="--clr: #4fb7da">
        <div class="Hero-section">
          <h1>
            Discover free study material amplified with innovative technology
          </h1>
          <p class="des">
            Access and download authenticated study materials from
            top-performing students globally. Enhance your learning experience
            by creating quizzes, essays, examples, and other resources using the
            acquired materials.
          </p>
          <form
            action="/notes/search"
            class="form"
            method="POST"
            target="_self"
          >
            <input
              type="text"
              id="search"
              class="input"
              name="searcheverything"
              placeholder="Search notes, schools & more"
              autocomplete="off"
            />
            <button id="clear" class="fatilate-search" type="submit">
              <i class="fa-solid fa-magnifying-glass" id="icon"></i>
            </button>
          </form>
        </div>
      </section>

      <!-- section C  -->
      <section class="view-">
        <div class="view">
          <div class="box">
            <div class="image"><img src="image/free acces.png" alt="" /></div>
            <p class="check">
              Free access to view notes from the best students globally.
            </p>
          </div>
          <div class="box">
            <div class="image"><img src="image/Search.png" alt="" /></div>
            <p class="check">Search by your course, institution or topics.</p>
          </div>
          <div class="box">
            <div class="image"><img src="image/makeMoney.jpg" alt="" /></div>
            <p class="check">
              Make money from your notes while helping other students learn.
            </p>
          </div>
        </div>
      </section>

      <!-- Section D -->
      <section class="SearchNotes">
        <h2 class="Search">Search Notes</h2>
        <div id="SearchNotes">
          <div class="notes">
            <a href="/notes" style="text-decoration: none;">
            <div class="Notesimage">
              <img src="image/Study notes.jpg" alt="" />
            </div>
            <p class="subject">Engineering mathematics 1</p>
            <p class="graduation">bachelor of technology</p>
            <hr style="margin-top: 2.3rem" color="gray" />
        
            <i class="fa-solid fa-building-columns"></i>
            <span style="color: white">College Name</span>
       
            <div class="year">
              <i class="fa-regular fa-calendar-days"></i>
              <span style="color: white">2024</span>
              <span class="like">
                <i class="fa-solid fa-thumbs-up"></i>
                <p class="count" style="color: white">1</p>
              </span>
            </div>
          </a>
          </div>

          <div class="notes">
            <a href="/notes" style="text-decoration: none;">
            <div class="Notesimage">
              <img src="image/Study notes.jpg" alt="" />
            </div>
            <p class="subject">Engineering mathematics 1</p>
            <p class="graduation">bachelor of technology</p>
            <hr style="margin-top: 2.3rem" color="gray" />
        
            <i class="fa-solid fa-building-columns"></i>
            <span style="color: white">College Name</span>
       
            <div class="year">
              <i class="fa-regular fa-calendar-days"></i>
              <span style="color: white">2024</span>
             
            </div>
          </a>
          </div>

          <div class="notes">
            <a href="/notes" style="text-decoration: none;">
            <div class="Notesimage">
              <img src="image/Study notes.jpg" alt="" />
            </div>
            <p class="subject">Engineering mathematics 1</p>
            <p class="graduation">bachelor of technology</p>
            <hr style="margin-top: 2.3rem" color="gray" />
        
            <i class="fa-solid fa-building-columns"></i>
            <span style="color: white">College Name</span>
       
            <div class="year">
              <i class="fa-regular fa-calendar-days"></i>
              <span style="color: white">2024</span>
              
            </div>
          </a>
          </div>

          <div class="notes">
            <a href="/notes" style="text-decoration: none;">
            <div class="Notesimage">
              <img src="image/Study notes.jpg" alt="" />
            </div>
            <p class="subject">Engineering mathematics 1</p>
            <p class="graduation">bachelor of technology</p>
            <hr style="margin-top: 2.3rem" color="gray" />
        
            <i class="fa-solid fa-building-columns"></i>
            <span style="color: white">College Name</span>
       
            <div class="year">
              <i class="fa-regular fa-calendar-days"></i>
              <span style="color: white">2024</span>
             
            </div>
          </a>
          </div>

          <div class="notes">
            <a href="/notes" style="text-decoration: none;">
            <div class="Notesimage">
              <img src="image/Study notes.jpg" alt="" />
            </div>
            <p class="subject">Engineering mathematics 1</p>
            <p class="graduation">bachelor of technology</p>
            <hr style="margin-top: 2.3rem" color="gray" />
        
            <i class="fa-solid fa-building-columns"></i>
            <span style="color: white">College Name</span>
       
            <div class="year">
              <i class="fa-regular fa-calendar-days"></i>
              <span style="color: white">2024</span>
             
            </div>
          </a>
          </div>

          <div class="notes">
            <a href="/notes" style="text-decoration: none;">
            <div class="Notesimage">
              <img src="image/Study notes.jpg" alt="" />
            </div>
            <p class="subject">Engineering mathematics 1</p>
            <p class="graduation">bachelor of technology</p>
            <hr style="margin-top: 2.3rem" color="gray" />
        
            <i class="fa-solid fa-building-columns"></i>
            <span style="color: white">College Name</span>
       
            <div class="year">
              <i class="fa-regular fa-calendar-days"></i>
              <span style="color: white">2025</span>
            </div>
          </a>
          </div>
        </div>
      </section>

      <!-- Section E -->
      <section class="sectionE">
        <div class="suscription_part">
          <div class="leftPart" data-aos="slide-right">
            <div class="suscription">
              One subscription for faster, smarter studying and better grades.
            </div>
            <div class="point">
              <i class="fa-solid fa-check"></i>
              <p>Unlimited downloads of high quality notes, written by the the
              world’s best students.</p>
            </div>
            <div class="point">
              <i class="fa-solid fa-check"></i>
              <p></p>View notes with insights and comments from fellow students.</p>
            </div>
            <div class="point">
              <i class="fa-solid fa-check"></i>
             <p>Choose a flexible quarterly plan or get savings with an annual
              subscription.</p>
            </div>
          </div>
          <div class="rightPart" data-aos="zoom-in">
            <img src="image/sus.png" alt="none" />
          </div>
        </div>
      </section>
<!-- Section F -->

    </div>
    <script src="/JS/app.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
      AOS.init({
        offset: 80,
        duration: 1600,
      });
    </script> 
  </body>
<!-- </html> -->
